/*Описание расположения элементов на странице логина*/
/* Описание цветов см. в файле style.css */

form{
    margin: auto;
    margin-top: 300px;
    width: 300px;
    
    padding: 20px; 
    
    display: flex;
    flex-direction: column;
}



/* Все элементы взаимодействия */
input{
    margin-bottom: 20px;
}


/* Поля ввода */
input[type="text"], input[type="password"]{
}

/* кнопка */
input[type="submit"]{
    
}