/* Описание внешнего вида, за исключением шрифтов */
/* Расположение элементов (layout) описывается в layout.css */

/* Страница целиком */
body{
/* 	  цвет фона */
    background: green;  
/* 	цвет текста */
    color: black;
}


/* Заголовок (см. atcle.html, main.html) */
header{
    background: black;
    box-shadow: 0 1px 10px #666;
}


.logo{
    background: linear-gradient(white 0%, #bbb 50% , white 100%);
}

.menubar{
    color: black;
}


/* описание стиля для тегов a, вложенных в теги с классом .menubar
hover: Стиль при наведении 
*/
.menubar-button:hover{
    background: white;
    color: black;
    border-radius: 5px;
}


/* Оформление значков тегов */
ul li{
	list-style-type: none;
}

/* Стиль для тегов под статьей */
.tags{
	margin-left: 10px;
}

.tags li, .tags a{
	float:left;
	position:relative;
	font-size:18px;
	}

.tag > a{ 
  margin-left:20px;
	padding:0 10px 0 12px;
	background:#888;
	color:#fff;
	border-radius:4px;
}





/*           Стили для статьи */

/* Заголовок статьи */
h2 {
	color: black;}

article{
/*     тень: на 2 вниз и вправо, размытие - 5 */
    box-shadow: 2px 2px 5px black;
}

/* Стиль для изображений внутри статьи */
article img{
  display: block;
	margin: auto;
}





/*Форма авторизации*/
#auth-form{
    background: #666;
}

/* Заголовок на форме */
#auth-form>h1{
	color: #000;
}

/* Ссылка (забыли пароль) на форме */
#auth-form>a{
	color: blue;
}










