/*Описание внешнего вида, за исключением шрифтов*/

/* Страница целеком */
body{
    background: #eee;
}


/* Заголовок (см. atcle.html, main.html) */
header{
    background: black;
    box-shadow: 0 1px 10px #666;
}


.logo{
    background: linear-gradient(white 0%, #bbb 50% , white 100%);
}

.menubar{
    color: black;
}


/* описание стиля для тегов a, вложенных в теги с классом .menubar
hover: Стиль при наведении 
*/
.menubar >a:hover{
    background: white;
    color: black;
    border-radius: 5px;
}


/* Стиль для статьи */
article{
/*     тень: на 2 вниз и впрао, размытие - 5 */
    box-shadow: 2px 2px 5px black;
}

/* Стиль для изображений внутри статьи */
article img{
  display: block;
	margin: auto;
}



/*Форма авторизации*/
#auth-form{
    background: #666;
}

/* Заголовок на форме */
#auth-form>h1{
	color: #000;
}

/* Ссылка (забыли пароль) на форме */
#auth-form>a{
	color: blue;
}



/* Оформление значков тегов */
ul li{
	list-style-type: none;
}

/* Стиль для тегов под статьей */
.tags{
	margin-left: 10px;
}

.tags li, .tags a{
	float:left;
	position:relative;
	font-size:18px;
	}

.tag > a{ 
  margin-left:20px;
	padding:0 10px 0 12px;
	background:#888;
	color:#fff;
	border-bottom-right-radius:4px;
	border-top-right-radius:4px;	
}


.tag > a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #888 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;		
	
}






